<!--File name:bottom_nav.ejs-->
<!--Name : Kyeongbin Noh-->
<!--StudentID: 301130132-->
<!--Date : OCT 22-->

<!--Bottom Nav-->
  <footer>

    

    <nav class="navbar fixed-bottom navbar-dark bg-dark" id = "copyright">
        <div class="container-fluid">
            <h6 class="display-6 navbar-text" >&copy; Copyright 2021. All Rights reserved.</h6>
        </div>
    </nav>
  </footer>

  