<!--File name:footer.ejs-->
<!--Name : Kyeongbin Noh-->
<!--StudentID: 301130132-->
<!--Date : OCT 22-->


<!--Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  
</body>
</html>