<!--/*File name:about.ejs*/
/*Name : Kyeongbin Noh*/
/*StudentID: 301130132*/
/*Date : OCT 22*/-->

<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


  <main class="container">
    <img id="me" src="\Assets\images\me.png">

    <h1>Hello !:) I'm kyeongbin Noh</h1>
    <h3>I'm from south korea and I want to be a front-end engineer! </h3>
    <h3>I have interested in the tools related to front-end </h3>
  </main>

  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>