<!--File name:contact.ejs/
/*Name : Kyeongbin Noh*/
/*StudentID: 301130132*/
/*Date : OCT 22*/-->
<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


  <main class="container">
  
    <h1>CONTACT</h1>
                
                        <div class="icon"><i class="fas fa-map-marker-alt"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>231, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea</p>
                        </div>
                   
               
                        <div class="icon"><i class="fas fa-phone"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>+82 10 7749 7296</p>
                        </div>
                 
     
                        <div class="icon"><i class="fas fa-envelope"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>lylyby1010@gamil.com</p>
                        </div>
                    
                
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div><br>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div><br>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your Message</span>
                        </div><br>
                        <div class="inputBox">
                            <input type="submit" name="" value="Send">
                        </div>





                    </form>
                </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>