<!--*File name:home.ejs*/
/*Name : Kyeongbin Noh*/
/*StudentID: 301130132*/
/*Date : OCT 22*/-->

<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


  <main class="container">
     
                <img src="\Assets\images\1.jpg">

                <h3>To Create a Better Everyday Life For The Many People</h3>

                <button><a href='naver.com'></a>Click me</button>
                 
  </main>

  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>