<!--/*File name:project.ejs*/
/*Name : Kyeongbin Noh*/
/*StudentID: 301130132*/
/*Date : OCT 22*/-->

<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


  <main class="container">
  <h1>Projects</h1>
      <img class="project" src="\Assets\images\bmic.jpg">
        <h6>Bmi calculator</h6>
        <img class="project" src="\Assets\images\game1.png">
        <p>Small bug game</p>
        <img class="project" src="\Assets\images\todo.jpg">
        <p>Todolist</p>
  </main>

  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>