<!--File name:services.ejs*/
/*Name : Kyeongbin Noh*/
/*StudentID: 301130132*/
/*Date : OCT 22*/-->
<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>


  <main class="container">
    <h1>SERVICES</h1>

                <div class="item">
                    <div class="icon"><span><i class="fab fa-js"></i></span></div>
                    <div class="service">JAVASCRIPT</div>
                    <div class="content">JavaScript tends to be very fast because it is often run immediately within the client's browser. So long as it doesn't require outside resources, JavaScript isn't slowed down by calls to a backend server. Also, major browsers all support JIT (just in time) compilation for JavaScript, meaning that there's no need to compile the code before running it.</div>
                </div>
                <div class="item">
                    <div class="icon"><span><i class="fab fa-java"></i></span></div>
                    <div class="service">JAVA</div>
                    <div class="content">One of the most significant advantages of Java is its ability to move easily from one computer system to another. 
                        <br> The ability to run the same program on many different systems is crucial to World Wide Web software, and Java succeeds at this by being platform-independent at both the source and binary levels.</div>
                </div>
                <div class="item">
                    <div class="icon"><span><i class="fas fa-database"></i></span></div>
                    <div class="service">DATABASE</div>
                    <div class="content">A Database Management System (DBMS) is defined as the software system that allows users to define, create, maintain and control access to the database. <br>
                    This reduce the amount of time you spend managing data and can 
                    analyze data in a variety of ways.</div>
                </div>
  </main>

  
<%- include partials/bottom_nav.ejs %>


<%- include partials/footer.ejs %>